@model ICollection<eLibrary.Models.Book >

<div class="container-fluid m-3">
    <h2>Lista dostępnych książek:</h2>
    <table class="table">
        <tr>
            <th>Okładka</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Rok publikacji</th>
            <th>Number ISBN</th>
            <th>Ilość stron</th>
            <th></th>

        </tr>
        @foreach (var book in @Model)
        {
    <tr>
        <td>
            @book.ImageUpload
        </td>
        <td>
            @book.Title
        </td>
        <td>
            @book.Authors
        </td>
        <td>
            @book.PublishingYear
        </td>
        <td>
            @book.ISBN
        </td>
        <td>
            @book.Pages
        </td>

        <td>
            <a class="btn btn-primary" asp-controller="Book" asp-action="EditForm" asp-route-id="@book.Id">Edytuj</a>
            <a class="btn btn-primary" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Usuń</a>
        </td>
    </tr>
        }
    </table>
    <a class="btn btn-primary" asp-controller="Book" asp-action="AddForm">Dodaj kolejną książke</a>
</div>